%h1
  Photos controller, index action

%table
  %tr
  - for photo in @photos
    %tr
      %td
        = link_to 'Show', url(:photo, photo)
      %td
        = link_to 'Edit', url(:edit_photo,  photo)

= link_to 'New', url(:new_photo)
