%h1
  Photos controller, index action

%table
  %tr
  - for photo in @photos
    %tr
      %td
        = link_to 'Show', slice_url(:gallery_photo, params[:gallery_id], photo)
      %td
        = link_to 'Edit', slice_url(:edit_gallery_photo, params[:gallery_id], photo)

= link_to 'New', slice_url(:new_gallery_photo)
